*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  margin: 0;
  background-color: rgb(211, 211, 211);
  font-family: sans-serif;
}
h1{
  background-color: crimson;
  font-family: 'Times New Roman', Times, serif;
}
h2{
  background-color: crimson;
  font-family: 'Times New Roman', Times, serif;
}
p {
  text-align: center;
  color: blue;
}
#team {
  float: right;
  width: 300px;
  margin-right: 100px;
}